@page
@model WebApp.Pages_Configurations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Configuration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.BoardSizeWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.BoardSizeWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.BoardSizeHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.BoardSizeHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.WinCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.WinCondition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.MovePieceAfterNMoves)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.MovePieceAfterNMoves)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.AmountOfPieces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.AmountOfPieces)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.GridSizeHeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.GridSizeHeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.GridSizeWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.GridSizeWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Configuration.ModifiedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Configuration.ModifiedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Configuration.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
