@page
@using GameBrain
@model WebApp.Pages.PlayGameWeb


Next move by: @Model.TicTacToeBrain.NextMoveBy

<table class="" border="1">
    @for (int y = 0; y < Model.TicTacToeBrain.DimY; y++)
    {
    <tr>
        @for (int x = 0; x < Model.TicTacToeBrain.DimX; x++)
        {
        <td>
            @if (Model.TicTacToeBrain.GameBoard[x][y] == EGamePiece.Empty)
            {
            <a asp-route-x="@x" asp-route-y="@y" asp-route-GameId="@Model.GameId">XYZ</a>
            }
            else
            {
            @(Model.TicTacToeBrain.GameBoard[x][y])
            }
        </td>
        }
    </tr>
    }

</table>
