@page
@using GameBrain
@using ConsoleUI
@model WebApp.Pages.PlayGameWeb

<h2>Tic-Tac-Two</h2>
<p>Next move by: <strong>@Model.TicTacTwoBrain.NextMoveBy</strong></p>

<style>
    .board {
        border-collapse: collapse;
        margin: 20px auto;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    /* Regular cells */
    .board td {
        width: 50px;
        height: 50px;
        border: 2px solid #4d5154;
        font-size: 24px;
        font-weight: bold;
        background-color: #f8f8f8;
        cursor: pointer;
    }

    /* Center 3x3 grid */
    .board td.red-cell {
        width: 50px;
        height: 50px;
        border: 3px solid red;
        background-color: #ffebee;
    }

    /* Anchor link style */
    .board td a {
        text-decoration: none;
        color: #4d5154;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 50px;
    }

    .board td a:hover {
        background-color: #e8f5e9;
    }

    .board span {
        color: #777;
        font-size: 14px;
        line-height: 1.5;
        display: inline-block;
    }
</style>

<table class="board">
    @for (var y = 0; y < Model.TicTacTwoBrain.DimY; y++)
    {
        <tr>
            @for (var x = 0; x < Model.TicTacTwoBrain.DimX; x++)
            {
                <!-- Hardcode sizes for 3x3 center cells -->
                @if (x < Model.TicTacTwoBrain.DimX - 1 
                      && Model.TicTacTwoBrain.gridXCoordinates.Contains(x + 1)
                      && Model.TicTacTwoBrain.gridYCoordinates.Contains(y + 1))
                      //&& x != Model.TicTacTwoBrain.gridXCoordinates.Max() - 1)
                {
                    Console.WriteLine("here1 " + x + "," + y + " -red");
                    <td class="red-cell" style="width: 50px; height: 50px;">
                        @if (Model.TicTacTwoBrain.GameBoard[x][y] == EGamePiece.Empty)
                        {
                            <a asp-route-x="@x" asp-route-y="@y" asp-route-GameId="@Model.GameName">&nbsp;</a>
                        }
                        else
                        {
                            @(Model.TicTacTwoBrain.GameBoard[x][y])
                        }
                    </td>
                }
                else
                {
                    Console.WriteLine("here2 " + x + "," + y);
                    <td style="width: 50px; height: 50px;">
                        @if (Model.TicTacTwoBrain.GameBoard[x][y] == EGamePiece.Empty)
                        {
                            <a asp-route-x="@x" asp-route-y="@y" asp-route-GameId="@Model.GameName">&nbsp;</a>
                        }
                        else
                        {
                            @(Model.TicTacTwoBrain.GameBoard[x][y])
                        }
                    </td>
                }
            }
        </tr>
    }
</table>
